@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

  1.0 - Utility

  1.1 - Typeography		

  1.2 - Headings

  1.3 - Form

  1.4 - Body

  2.0 - Buttons

  2.1 - Colors/Background Color

  2.2 - Lists

  2.3 - Navigation Lists

  2.4 - Alignment

  3.0 - Footer

  3.1 - Images

  3.2 - Site Structure

  3.3 - Media

--------------------------------------------------------------*/



/*=======================

  1.0 - Utility

=========================*/

*, *:after, *:before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.wrapper {
	width: 80%;/*original width=1160px*/
	margin:0 auto;
}

.row:after {
	content:"";
	display: table;
	clear: both;
}

img{
	max-width: 100%;
}

figure {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

/*=======================

  1.1 - Typeography		

=========================*/

body {
	font-family: "open sans", sans-serif;
}

header nav ul li, .button{
	font-size: 1.25rem;
}

header p {
	font-size: 1.875rem;
	line-height: 3rem;
}

.col-2-3 a {
	font-size: 2rem;
}

p {
	font-size: .875rem;
}

form .button:last-child, form p, label  {
	font-size: 1.5rem;
}

dt, footer ul li, h3 {
	font-weight: 700;
}

footer ul li {
	font-size: .875rem;
}

/*=======================
		
  1.2 - Headings

=========================*/

h1 {
	font-size: 5rem;
	margin-top: 0;
}

h2 {
	font-weight: 400;
	font-size: 3rem;
	margin-top:9.25rem;
	margin-bottom: 5.5rem;
}

h3{
	font-size: 1.49rem;
}

.bg-green h3, section:nth-child(5) h3{
	margin-top: 0;
}

.bg-green h2 {
	padding: 7rem 0 5rem 0;
	margin-bottom: 0;
}

section:nth-child(3) section:nth-child(2) .col-1-4:nth-child(2) h3, section:nth-child(3) section:nth-child(2) .col-1-4:nth-child(3) h3 {
	margin-top: -.4rem;
}

section:nth-child(3) section:nth-child(3) h3, section:nth-child(5) section:last-child h3{
	margin-top: 2rem;
}

#contact h2 {
	padding-bottom: 1.25rem;
}



/*=======================
		
  1.3 - Form

=========================*/

input{
	width: 100%;
	height:3.125rem;
	margin-bottom: 2rem;
}

label {
	float: left;
}

form p {
	text-align: left;
	margin-top:0;
}

textarea{
	width: 100%;
	height:10rem;
}

form .button:last-child {
	float: right;
	padding:.5rem 1rem;
	margin-top:1rem;
}

form p, label {
	margin-bottom: .5rem;
	font-weight: 400;
}

/*=======================
		
  1.4 - Body

=========================*/

.bg-green section .col-1-3:nth-child(2) p, section:nth-child(5) section:last-child p {
	margin-bottom: 3rem;
}

section:nth-child(3) section:nth-child(3) .col-1-4 p {
	margin-bottom: 3rem;
}

body section:first-child{
	margin-top: 1rem;
}

/*=======================
		
  2.0 - Buttons

=========================*/

section a:last-child{
	padding:1rem .5rem;
}

.col-2-3 a {
	padding:1rem .75rem;
}

.button {
	background-color: #429fc4;
	border-radius: 1rem;
	color: white;
}

/*==============================
		
  2.1 - Colors/Background Color

================================*/

header nav ul li a:visited, footer nav ul li a:visited {
	color: black;
}

header nav ul li a:hover, footer nav ul li a:hover{
	text-decoration: underline;
	color: #429fc4;
}

h1, h2 {
	color: #555555;
}

h3 {
	color:#57ba65;
}

.button:hover, .bg-green {
	background-color: #57ba65;
}

.bg-green {
	padding-bottom: 7.5rem;
}

.bg-green h3, form p, label, dd, dt{
	color: white;
}

/*=======================
		
  2.2 - Lists

=========================*/

a {
	text-decoration: none;
}

#contact ul {
	margin-bottom: 3.25rem;
}

dd {
	margin-left: 0;
}

dt+dd {
	margin-top:1rem;
	margin-bottom: .5rem;
}

dd+dt {
	margin-top: 4rem;
}

footer ul{
	margin-top: 0;
}

footer ul li {
	margin-bottom: .25rem;
}

footer nav ul {
	height: 5rem;
}

/*=======================
		
  2.3 - Navigation Lists

=========================*/

section:first-child header nav ul li:first-child{
	margin-left: 0;
}

section:first-child header nav ul li:last-child{
	margin-right: 0;
}

section:first-child header nav {
	margin-left: 25%;
	margin-top: 1rem;
}

/*=======================
		
  2.4 - Alignment

=========================*/

header nav ul, .bg-green ul, footer ul {
	padding-left: 0;
}

header nav ul {
	float: right;
}

h1, .col-2-3, section:nth-child(3), section:nth-child(4), section:nth-child(5), #contact {
	text-align: center;
}

header .col-2-3 {
	margin:0 auto;
	float: none;
}

header nav ul li, .col-1-6 ul li, .bg-green ul li {
	display: inline-block;
}

.bg-green .push-right{
	float: right;
}

.bg-green .push-left{
	float: left;
}

/*=======================
		
  3.0 - Footer

=========================*/

footer nav ul li {
	list-style-type: none;
}

footer {
	padding-top:2.3rem;
}

footer h3{
	margin-top: -.5rem;
	margin-bottom: .25rem;
}

footer nav{
	margin:0 16.66%;
}

/*=======================

  3.1 - Images 

=========================*/

#hero {
	background: url(../img/hero.jpg) no-repeat;
	background-size: cover;
	padding:2.5rem 0 5rem 0;
}

.bg-green ul li:first-child, .col-1-6 ul li:first-child {
	background: url(../img/facebook.png) no-repeat;
}

.bg-green ul li:nth-child(2), .col-1-6 ul li:nth-child(2) {
	background: url(../img/twitter.png) no-repeat;
}

.bg-green ul li:last-child, .col-1-6 ul li:last-child {
	background: url(../img/linked-in.png) no-repeat;
}

.bg-green ul li:first-child, .bg-green ul li:nth-child(2), .bg-green ul li:last-child, .col-1-6 ul li:first-child, .col-1-6 ul li:nth-child(2), .col-1-6 ul li:last-child{
	height:2.375rem;
	width:2.25rem;
	background-position: 0 0;
}

.bg-green ul li:first-child:hover, .bg-green ul li:nth-child(2):hover, .bg-green ul li:last-child:hover, .col-1-6 ul li:first-child:hover, .col-1-6 ul li:nth-child(2):hover, .col-1-6 ul li:last-child:hover{
	background-position:0 -2.375rem;
}

.bg-green ul li:first-child a, .bg-green ul li:nth-child(2) a, .bg-green ul li:last-child a, .col-1-6 ul li:first-child a, .col-1-6 ul li:nth-child(2) a, .col-1-6 ul li:last-child a {
	display:block;
	height:100%;
}


/*=======================
		
  3.2 - Site Structure

=========================*/

[class*="col-"] {
	float: left;
	padding:0 20px 20px 0;

}

[class*="col-"]:last-of-type {
	padding-right: 0px;
}

.col-1{
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width:25%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-7 {
	width: 14.285%;
}

.col-3-7{
	width:42.85%;
}

.col-4-7{
	width:57.14%;
}

.col-1-8{
	width: 12.5%;
}

.col-3-8{
	width: 37.5%;
}

.col-1-9{
	width: 11.11%;
}

.col-5-9 {
	width:55.55%;
}

.col-2-9 {
	width: 22.22%;
}

.col-1-10{
	width: 10%;
}

.col-1-11{
	width: 9.0909%;
}

.col-4-11{
	width: 36.36%;
}

.col-5-11{
	width: 45.45%;
}

.col-2-11{
	width: 18.18%;
}

.col-1-12{
	width: 8.33%;
}

.col-5-12 {
	width:41.66%;
}

[class*="col-"] div{
	height: 300px;
}

/*=======================

  3.3 - Media

=======================*/

@media screen and (max-width: 480px) {

	.wrapper {
		width: 99%;
	}

	/*=====================
	Images
	=======================*/

	body section:first-child header .col-1-4{
		text-align: center;
	}

	#hero {
		background-size: none;
	}

	/*====================
	Lists
	======================*/

	body section:first-child nav{
		margin:0;
	}

	section:first-child nav ul li a{
		padding-left: .25rem;
	}

	dd:last-child{
		margin-bottom: 4rem;
	}

	/*====================
	Headings
	======================*/

	h1{
		font-size: 4rem;
	}

	section:nth-child(3) section:nth-child(2) .col-1-4:nth-child(2) h3, section:nth-child(3) section:nth-child(2) .col-1-4:nth-child(3) h3 {
		margin-top: 0;
	}

	.bg-green section .col-1-3:nth-child(2) p, section:nth-child(5) section:last-child p {
		margin-bottom: 0;
	}


	/*====================
	Alignment
	======================*/

	.bg-green .push-right{
		float: left;
	}

	.bg-green .push-left{
		float: right;
	}

	.bg-green .col-5-12, footer figure .col-1-4{
		text-align: center;
	}

	/*====================
	Structure
	======================*/

	.col-1-3, .col-2-3, .col-2-4, .col-1-2+.col-1-4, .row:last-child .col-1-4:last-child, .col-1-2, .col-1-4, .col-1-7:last-child, .bg-green .col-5-12{
		width: 100%;
	}

	.col-1-8, .col-1-7, .col-1-11, .col-1-6+.col-1-3{
		width: 25%;
	}

	.row:nth-child(14) .col-1-4, .col-3-8, .col-1-9, .col-1-11:nth-child(9), .col-1-11:nth-child(10), .col-1-11:last-child{
		width:33.33%;
	}

	.col-1-10{
		width: 20%;
	}

	.col-1-12{
		width: 16.66%
	}

	.col-1-6+.col-1-3{
		width: 33.32%;
	}

	.col-1-4:nth-child(2), .col-1-3, .col-2-3, .col-1-4+.col-1-2, .col-1-8:nth-child(4), .col-1-7:nth-child(4), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(5), .col-1-11:nth-child(4), .col-1-11:nth-child(8), .col-1-12:nth-child(6){
		padding-right: 0;
	}
}
